In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
path_to_csvs = "../data/contribution-of-drug-in-life-expectancy-at-birth/"

path_to_metadata = os.path.join(path_to_csvs, "13100434_MetaData.csv")
path_to_data = os.path.join(path_to_csvs, "13100434.csv")

metadata_df = pd.read_csv(path_to_metadata, skiprows=lambda x: x not in range(9, 164))
df = pd.read_csv(path_to_data)

In [8]:
metadata_df.colum

Index(['Dimension ID', 'Member Name', 'Classification Code', 'Member ID',
       'Parent Member ID', 'Terminated', 'Member Notes', 'Member Definitions'],
      dtype='object')

In [10]:
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Selected causes of death', 'Sex',
       'Change in life expectancy', 'UOM', 'UOM_ID', 'SCALAR_FACTOR',
       'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL',
       'TERMINATED', 'DECIMALS'],
      dtype='object')

In [12]:
df["GEO"].describe()

count       10260
unique        139
top       Nunavut
freq          144
Name: GEO, dtype: object

In [16]:
df["DGUID"].describe()

count               9756
unique               136
top       2016A000011124
freq                  72
Name: DGUID, dtype: object

In [18]:
df.describe()

        UOM_ID  SCALAR_ID         VALUE  STATUS  SYMBOL  TERMINATED  DECIMALS
count  10260.0    10260.0  10260.000000     0.0     0.0         0.0   10260.0
mean     308.0        0.0      0.014632     NaN     NaN         NaN       3.0
std        0.0        0.0      0.223923     NaN     NaN         NaN       0.0
min      308.0        0.0     -2.790000     NaN     NaN         NaN       3.0
25%      308.0        0.0     -0.024000     NaN     NaN         NaN       3.0
50%      308.0        0.0      0.000000     NaN     NaN         NaN       3.0
75%      308.0        0.0      0.007000     NaN     NaN         NaN       3.0
max      308.0        0.0      2.718000     NaN     NaN         NaN       3.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10260 entries, 0 to 10259
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   REF_DATE                   10260 non-null  object
 1   GEO                        10260 non-null  object
 2   DGUID                      9756 non-null   object
 3   Selected causes of death   10260 non-null  object
 4   Sex                        10260 non-null  object
 5   Change in life expectancy  10260 non-null  object
 6   UOM                        10260 non-null  object
 7   UOM_ID                     10260 non-null  int64
 8   SCALAR_FACTOR              10260 non-null  object
 9   SCALAR_ID                  10260 non-null  int64
 10  VECTOR                     10260 non-null  object
 11  COORDINATE                 10260 non-null  object
 12  VALUE                      10260 non-null  float64
 13  STATUS                     0 non-null      float64
 14  SYMBOL                     0 non-null      float64
 15  TERMINATED                 0 non-null      float64
 16  DECIMALS                   10260 non-null  int64
dtypes: float64(4), int64(3), object(10)
memory usage: 1.3+ MB

In [22]:
df["Change in life expectancy"].describe()

count                  10260
unique                     2
top       Over last one year
freq                    5130
Name: Change in life expectancy, dtype: object